* @timofurrer @patrickrice @armsnyder

[Documentation]
/docs/      @phillipwells @timofurrer @patrickrice @armsnyder
/templates/ @phillipwells @timofurrer @patrickrice @armsnyder
*.md        @phillipwells @timofurrer @patrickrice @armsnyder
