* @timofurrer @patrickrice @heidi.berry

[Documentation]
/docs/      @z_painter @timofurrer @patrickrice @heidi.berry
/templates/ @z_painter @timofurrer @patrickrice @heidi.berry
*.md        @z_painter @timofurrer @patrickrice @heidi.berry
